html{
  margin : 0px;
  padding: 0px;
}
body
{
  background-image: linear-gradient(to right, #66ccff, #99ccff);
}

.hidden
{
  visibility: hidden;
}
.unhidden
{
  visibility: visible;
}
a {
  text-decoration: none;
}

.screen{
  width: 95vw;
  height: 100vh;
}
.name-an {
  stroke-width: 3;
  fill: #e9ddb3;
  stroke-dasharray: 4270;
  opacity: 10;
  z-index: 2;
  stroke: #e9ddb3;

  animation: animate 3s cubic-bezier(.83,.26,.34,.89);

}
svg{
  text-align: center;
  display: block;
  margin: auto;

  -webkit-filter: drop-shadow( 3px 3px 2px #e9ddb3);
  filter: drop-shadow( 3px 3px 2px #e9ddb3);
}
#scroll{
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;

  font-size: 25px;
  color: black;

	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
#arrow
{
  height:10vh;
}
#info
{
  padding-top: 15vh;
  padding-left: 5vw;
  width: 100vw;
  height: 100vh;
  margin:auto;
}
.image
{
  width: 480px;
  height: 198px;
}



@keyframes animate {
  0%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 4270;
  }
  30%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 4270;
  }
  90%{
    opacity: 10;
    stroke-dashoffset: 0;
    fill: rgba(255, 255, 255, 0);
  }
  100%{
    fill: rgba(255, 255, 255, 1);
  }
}
