html, *{
  margin : 0;
  padding: 0;
  
}
body
{
  background-image: linear-gradient(to right, #66ccff, #99ccff);
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.socialBar
{
  position: absolute;
  width: 100%;
  height: 5vh;

  display: flex;
  justify-content: center;
}
a, a:hover {
  text-decoration: none;
  cursor: pointer;
}
.socialBar-items, .socialBar-items ul, .socialBar-items li {
  margin: 0;
  padding: 0.5em;
}
.socialBar-items li {
  list-style: none outside none;
  display: inline-block;
}
.socialBar-items .fa {
  width: 1.45em;
  height: 1.15em;
  color: #000;
  background-color: #FFF;
  border: 0.02em solid #000;
  padding-top: 0.2em;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}
.socialBar-items .fa:hover {
  color: #FFF;
  background-color: #000;
  border: 0.02em solid #000;
}

#main_screen{
  align-items: center;

  width: 100%;
  height: 100vh;
  
}
.name-an {
  stroke-width: 3;
  fill: #e9ddb3;
  stroke-dasharray: 4270;
  opacity: 10;
  z-index: 2;
  stroke: #e9ddb3;

  display: flex;
  justify-content: center; 

  width:50%;
  height: 50%;

  animation: animate 4s cubic-bezier(.83,.26,.34,.89);
}
svg{
  -webkit-filter: drop-shadow( 1em 1em 1em #e9ddb3);
  filter: drop-shadow( 1em 1em 1em #e9ddb3);
}
#scrollDown{
  position: absolute;
  top: 85%; 
}
#scrollUp{
  position: absolute;
  top: -1%;  
	transform: rotate(180deg);

}
#arrow
{
  height: 10em;
}
#port
{
  position: relative;
  padding-top: 8em; 
  height: 100vh;
}
.image
{
  width: 480px;
  height: 198px;
}
.container
{
  margin-left: 5em;
  margin-right: 5em;
  
} 

.center
{
  display: flex;
  justify-content: center;
}

.cellsRow
{
  height: 25em;
  column-gap: 3em;
  row-gap: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}
.portfolio
{
  padding-bottom: 20em;
  overflow-y: scroll;
}

.cellsRow > .cell
{
  width: 20em;
  height: 20em;
  background-color: black;
}

.container {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@keyframes animate {
  0%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 4270;
  }
  30%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 4270;
  }
  90%{
    opacity: 10;
    stroke-dashoffset: 0;
    fill: rgba(255, 255, 255, 0);
  }
  100%{
    fill: rgba(255, 255, 255, 1);
  }
}
