@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Indie+Flower&display=swap');

:root
{
    --green : #567666;
}

*{
    margin : 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
}

#open-menu, #close-menu 
{
    display: none;
}

.heading-container
{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

    -webkit-box-shadow: inset 0 8px 4px -4px #ddd;
    -moz-box-shadow: inset 0 8px 4px -4px #ddd;
    box-shadow: inset 0 8px 4px -4px #ddd;
}

.navbar
{
    width: 100%;
    display: flex;
    align-items: center;
}

.title 
{
    font-family: 'Indie Flower', cursive;
    max-width: 20rem;
    cursor: pointer;
    padding: 30px 0;
}

#open-icon, #close-icon
{
    width: 25px;
    cursor: pointer;
}

nav
{
    flex: 1;
    text-align: right;
}

nav ul li
{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

a
{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 100;
}

a.active
{
    position: relative;
    padding-bottom: 3px;
}

a.active::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 0;
}

nav ul li a:hover
{
    color: var(--green);
}

.jumbo-screen
{
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
    z-index: -1;
}
.jumbo-screen .logo
{
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0;
}

.jumbo-img
{
    min-width: 100vw;
    min-height: 10vh;

    filter: blur(1px);
}

.jumbo-screen::after
{
    content: "";
    position: absolute;
    background-color: #fff;
    opacity: 0.1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container
{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.section
{
    min-height: 100vh;
    padding: 0% 8% 0% 8%;
}

.section h2
{
    text-align: center;
    padding-top: 1em;
    font-size: 3rem;
}

.container .row
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .row img
{
    max-height: 80%;

    border-radius: 0%;
    box-shadow: 4px 5px 15px #000;
}

.occassion-list ul
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
    margin-left: 10em;
}

.occassion-list ul > li
{
    font-size: 2.5rem;
    padding: 0.5em;
    color: var(--green);
}

.occassion-list button
{
    margin-top: 5%;
    min-width: 30%;
    align-self: flex-start;
    margin-left: 1.5em;
    padding: 12px;

    border-radius: 10px;
    background-color: var(--green);
    border-width: 0;
    cursor: pointer;
}

.occassion-list button a
{
    color: #fff
}

.occassion-list button:hover
{
    /* border-right-width: 2em; */
    border-left-width: 3em;
    border-color: none;
    transition: .5s ease-in;
}

.occassion-list a
{
    font-size: 1.35em;
}

.section .row ul, .section .row img
{
    opacity: 0;
}

footer
{
    background-color: var(--green);
    min-height: 40vh;
    width: 100%;
}

.f-columns
{
    display: flex;
    justify-content: center;
    gap: 30%;
    padding: 5em 2em 0em 2em;
    opacity: 0;
}

.f-columns > .row
{
    max-width: 45%;
    text-align: center;
}

.f-columns h4
{
    color:#fff;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.f-columns p
{
    color:#fff;
    font-size: 1.1rem;
}

.f-columns ul
{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
}

.f-columns ul > li
{
    align-self: left;
    padding-bottom: 0.5em;
    list-style: none;
    color: #fff;
}

.f-columns .row img
{
    padding-top: 1em;
    max-width: 5%;
    filter: invert(100%);
}

/*
*
*   FAQ CSS
*
*/
.img-cover{
    background: url("images/jumbo-img.jpg") no-repeat top center fixed;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    color: black;
    text-align: center;
}
.page-name
{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.page-name h2
{
    font-size: 3rem;
}
.questions
{
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.questions > .row
{
    padding-top: 2em;
}

.questions > .row h3
{
    min-width: 30%;
    font-size: 1.25rem;
}
.questions > .row p
{
    font-size: 1.2rem;
}

.about-nav
{
    min-height: 10vh;
    width: 100%;
}
.about
{
    min-width: 100%;
    min-height: 90vh;

    display: flex;
    /* justify-content: center; */
    gap: 10%;
}

.about .row
{
    padding-right: 5em;
}
.about img
{
    width: auto;
    max-height: 60vh;
    /* max-width: auto; */
    margin-left: 10em;
    border-style: solid;
    border-width: 5px;
    border-color: #000;
}

/* .about::after
{
    content: " ";
    position: absolute;
    left: 5%;
    bottom: 40%;
    z-index: -2;
    width: 60vw;
    min-height: 60vh;
    border-radius: 10px;
    background: linear-gradient(to top right, #ff9999 0%, #66ccff 100%);
} */
.about::before
{
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 40%;
    z-index: -1;
    width: 45vw;
    min-height: 70vh;
    border-radius: 10px;
    background: linear-gradient(to top right, #ff9999 0%, #66ccff 100%);
    transform: rotate(70deg);
}

/*
*
*   BOOK CSS
*
*/
#progress-bar
{
    min-width: 100%;
    min-height: 8em;
}
#progress-bar::after
{
    content: attr(data-before) "0%";
    position: absolute;
    text-align: center;
    min-width: 80%;
    color: #000;
    margin-top: 2em;
    border-radius: 10px;
    padding: 0.25em;
    border-color: #000;
    border-style: solid;
    border-width: 3px;
}
#progress-bar::before   
{
    content: " ";
    position: absolute;
    background-color: #82b59b;
    min-width: 80%;
    color: #000;
    height: 1.5em;
    margin-top: 2em;
    border-radius: 10px;
    padding: 0.25em;
}

@media only screen and (max-width:1150px)
{
    #open-menu
    {
        display: block;
        width: 2rem;
        z-index: 2;
    }

    #close-menu
    {
        width: 2rem;
        z-index: 2;
    }

    .heading-container{
        min-width: 100vw;
    }

    nav ul
    {
        visibility: hidden;
        background-color: #ccffe6;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: 100vh;
        min-width: 100%;

        overflow: hidden;  
        position: absolute;
        top: 0;
        left: 0;
    }

    nav ul li > a
    {
        font-size: 2rem;
    }

    nav ul li 
    {
        padding-bottom: 1.5em;
    }

    nav ul li a:hover
    {
        color: #fff;
    }

    .container .row
    {
        display: flex;
        flex-direction: column;
        padding-top: 35%;
        padding-bottom: 40%;
    }

    .container .row img
    {
        max-height: 60%;

        border-radius: 5px;
        box-shadow: 4px 5px 15px #000;
    }

    .occassion-list ul
    {
        padding-top: 10%;
        margin-left: 0em;
    }

    .occassion-list ul > li
    {
        font-size: 2rem;
        padding: 0.5em;
    }

    .f-columns
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem 0% 0rem 0%;
    }

    .f-columns > .row 
    {
        padding-bottom: 5rem;
        max-width: 80%;
        text-align: center;
    }

    .f-columns .row img
    {
        max-width: 6%;
    }

    .questions .row > p
    {
        padding-top: 1em;
    }

    .container .questions > .row
    {
        padding-top: 0%;
    }

    .about
    {
        display: flex;
        flex-direction: column;
        gap: 50%;
    }

    .about::before
    {
        content: " ";
        position: absolute;
        left: 15%;
        bottom: 15%;
        z-index: -1;
        width: 40em;
        min-height: 40em;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff9999 0%, #66ccff 100%);
        transform: rotate(70deg);
        box-sizing: border-box;
    }

    .about .row
    {
        align-content: center;
    }

}

@media only screen and (max-width:400px)
{
    .f-columns .row img
    {
        max-width: 12%;
    }

    #close-menu
    {
        padding-right: 4em;
    }

}






